<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find diff_car)/worlds/cooneo_office.world"/>
  </include>
  <param name="robot_description" command="$(find xacro)/xacro $(find diff_car)/urdf/car.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -model diff_car_laser -param robot_description" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
  
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find diff_car)/rviz/rviz.rviz" />
  <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" /> -->


  <arg name="joy_config" default="usb_joy" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="config_filepath" default="$(find diff_car)/config/$(arg joy_config).yaml" />
  <arg name="joy_topic" default="joy" />
  
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.3" />
    <param name="autorepeat_rate" value="20" />
    <remap from="joy" to="$(arg joy_topic)" />
  </node>

  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy">
    <rosparam command="load" file="$(arg config_filepath)" />
    <remap from="joy" to="$(arg joy_topic)" />
  </node>

</launch>